= f.error_messages :message => "Please fix these things and try again:", :header_message => "We couldn't save your folder"
 
%table{:cellspacing => 0}
  %tr{:class => cycle('odd', 'even')}
    %td= f.label :title, "Name"
    %td= f.text_field :title, :size => 25, :class => "big"
  %tr{:class => cycle('odd', 'even')}
    %td= f.label :visible
    %td= f.check_box :visible
  %tr{:class => cycle('odd', 'even')} 
    %td= f.label :parent_id, "Tree placement"
    %td 
      %select{:name => "folder[parent_id]", :id => "folder_parent_id"}
        - for o in @options_for_parent_id
          %option{:value => o[1] , :selected => (@folder.parent_id and o[1] == @folder.parent_id ? "selected" : nil)}= o[0]
  
%h2= f.label :description

%div
  = f.text_area :description, :size => "100x40", :class => "mceEditor"

- fancy_submit admin_folders_path do
  = submit_tag "Save folder"
